@page "/counter"
@using System.Threading; 
<h1>Counter</h1>

<p>
    Current count:
    <span class=" @backgroundColor">@currentCount</span>
</p>

<p>
    <input type="number" @bind="@increment" />
    <input type="number" @bind="@increment" @onkeypress="KeyHandler" @onkeypress:preventDefault />
</p>

<button class="btn btn-primary"
        disabled="@(currentCount >= 10)"
        @onclick="IncrementCount">
    Click me
</button>

<button class="btn btn-secondary"
        @onclick="AutoIncrement">
    Auto Increment
</button>



<div style="width:400px; height:400px; background:yellow"
     @onmousemove="OuterMouseMove">
    @outerPos
    <div style="width:300px; height:300px; background:green; margin:50px"
         @onmousemove="InnerMouseMove" @onmousemove:stopPropagation>
        @innerPos

    </div>

</div>

<p>
    <h1>Date Formatting</h1>
    <input @bind="Today" @bind:format="yyyy-MM-dd" />
    <button class="btn btn-primary" @onclick="IncrementDate">Next Day</button>
</p>

 